@model IEnumerable<S1G2_PVFAPP.Models.Sales_Person>

@{
    ViewBag.Title = "Index";
}

<style type="text/css">

    .table {
        width: 100%;
        border-collapse: collapse;
    }

        .table th {
            background: light blue;
        }

        /* provide some minimal visual accomodation for IE8 and below */

        .table tr {
            background: #b8d1f3;
        }



            /* ODD background rows */

            .table tr:nth-child(odd) {
                background: #b8d1f3;
            }

            /* EVEN background rows */

            .table tr:nth-child(even) {
                background: #dae5f4;
            }
</style>

<h2>Sales Persons</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SalespersonID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Territory.TerritoryID)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SalespersonID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Territory.TerritoryName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SalespersonID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SalespersonID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SalespersonID })
            </td>
        </tr>
    }

</table>
